In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("melb_data.csv")

In [3]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [6]:
corrmax=data.corr()
corrmax['Price']

Rooms            0.496634
Price            1.000000
Distance        -0.162522
Postcode         0.107867
Bedroom2         0.475951
Bathroom         0.467038
Car              0.238979
Landsize         0.037507
BuildingArea     0.090981
YearBuilt       -0.323617
Lattitude       -0.212934
Longtitude       0.203656
Propertycount   -0.042153
Name: Price, dtype: float64

In [7]:
y= data.Price

In [8]:
X= data.drop(['Price'], axis=1)

In [9]:
X

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [10]:
X.tail()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13575,Wheelers Hill,12 Strada Cr,4,h,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [11]:
X=X.drop(['Date'],axis=1)

In [12]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder,StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [13]:
X.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Method', 'SellerG', 'Distance',
       'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount'],
      dtype='object')

In [14]:
cat_var=['Suburb','Address','Type','Method','SellerG', 'CouncilArea', 'Regionname']

In [15]:
get_num_var=X.drop(cat_var,axis=1)
num_var=list(get_num_var.columns)
num_var

['Rooms',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude',
 'Propertycount']

In [16]:
num_pipeline=Pipeline([('sim',SimpleImputer(strategy='median')),
                  ('std_scaler', StandardScaler())])
transformer=ColumnTransformer([
    ('num',num_pipeline,num_var),
    ('cat',OrdinalEncoder(),cat_var)
])

prepared=transformer.fit_transform(X)

In [17]:
prepared=pd.DataFrame(prepared)

In [18]:
prepared

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-0.981463,-1.301485,-0.422415,-0.947035,-0.772376,-0.636847,-0.089316,-0.034763,0.110418,0.121160,0.030640,-0.784625,0.0,12794.0,0.0,1.0,23.0,31.0,2.0
1,-0.981463,-1.301485,-0.422415,-0.947035,-0.772376,-1.677692,-0.100843,-0.154598,-2.296108,0.016437,-0.017478,-0.784625,0.0,5943.0,0.0,1.0,23.0,31.0,2.0
2,0.064876,-1.301485,-0.422415,0.088284,0.673367,-1.677692,-0.106356,0.026430,-2.296108,-0.001227,-0.007855,-0.784625,0.0,9814.0,0.0,3.0,23.0,31.0,2.0
3,0.064876,-1.301485,-0.422415,0.088284,0.673367,-0.636847,-0.116380,-0.034763,0.110418,0.155226,0.016204,-0.784625,0.0,9004.0,0.0,0.0,23.0,31.0,2.0
4,1.111216,-1.301485,-0.422415,0.088284,-0.772376,0.403998,-0.109864,0.006033,1.623091,0.025269,-0.010742,-0.784625,0.0,10589.0,0.0,4.0,155.0,31.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,1.111216,1.118210,0.492956,1.123604,0.673367,0.403998,0.023452,-0.034763,0.488586,-1.216516,1.659041,-0.014256,302.0,1991.0,0.0,1.0,16.0,NaN,4.0
13576,0.064876,-0.568761,-0.984872,0.088284,0.673367,0.403998,-0.056488,-0.016915,0.969891,-0.631709,-1.118028,-0.245389,305.0,12234.0,0.0,3.0,251.0,NaN,6.0
13577,0.064876,-0.568761,-0.984872,0.088284,0.673367,2.485689,-0.030677,-0.034763,1.038649,-0.549318,-1.037767,-0.245389,305.0,12745.0,0.0,1.0,194.0,NaN,6.0
13578,1.111216,-0.568761,-0.984872,1.123604,-0.772376,3.526534,0.077079,0.044278,-1.608530,-0.629311,-0.983779,-0.245389,305.0,13311.0,0.0,0.0,222.0,NaN,6.0
13579,1.111216,-0.653961,-1.017958,1.123604,-0.772376,-0.636847,-0.049221,-0.070458,-1.608530,-0.033780,-1.065579,-0.208161,313.0,10776.0,0.0,3.0,239.0,NaN,6.0

In [19]:
prepared.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
13575,1.111216,1.118210,0.492956,1.123604,0.673367,0.403998,0.023452,-0.034763,0.488586,-1.216516,1.659041,-0.014256,302.0,1991.0,0.0,1.0,16.0,NaN,4.0
13576,0.064876,-0.568761,-0.984872,0.088284,0.673367,0.403998,-0.056488,-0.016915,0.969891,-0.631709,-1.118028,-0.245389,305.0,12234.0,0.0,3.0,251.0,NaN,6.0
13577,0.064876,-0.568761,-0.984872,0.088284,0.673367,2.485689,-0.030677,-0.034763,1.038649,-0.549318,-1.037767,-0.245389,305.0,12745.0,0.0,1.0,194.0,NaN,6.0
13578,1.111216,-0.568761,-0.984872,1.123604,-0.772376,3.526534,0.077079,0.044278,-1.608530,-0.629311,-0.983779,-0.245389,305.0,13311.0,0.0,0.0,222.0,NaN,6.0
13579,1.111216,-0.653961,-1.017958,1.123604,-0.772376,-0.636847,-0.049221,-0.070458,-1.608530,-0.033780,-1.065579,-0.208161,313.0,10776.0,0.0,3.0,239.0,NaN,6.0

In [20]:
prepared.columns=X.columns

In [21]:
prepared

,Suburb,Address,Rooms,Type,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,-0.981463,-1.301485,-0.422415,-0.947035,-0.772376,-0.636847,-0.089316,-0.034763,0.110418,0.121160,0.030640,-0.784625,0.0,12794.0,0.0,1.0,23.0,31.0,2.0
1,-0.981463,-1.301485,-0.422415,-0.947035,-0.772376,-1.677692,-0.100843,-0.154598,-2.296108,0.016437,-0.017478,-0.784625,0.0,5943.0,0.0,1.0,23.0,31.0,2.0
2,0.064876,-1.301485,-0.422415,0.088284,0.673367,-1.677692,-0.106356,0.026430,-2.296108,-0.001227,-0.007855,-0.784625,0.0,9814.0,0.0,3.0,23.0,31.0,2.0
3,0.064876,-1.301485,-0.422415,0.088284,0.673367,-0.636847,-0.116380,-0.034763,0.110418,0.155226,0.016204,-0.784625,0.0,9004.0,0.0,0.0,23.0,31.0,2.0
4,1.111216,-1.301485,-0.422415,0.088284,-0.772376,0.403998,-0.109864,0.006033,1.623091,0.025269,-0.010742,-0.784625,0.0,10589.0,0.0,4.0,155.0,31.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,1.111216,1.118210,0.492956,1.123604,0.673367,0.403998,0.023452,-0.034763,0.488586,-1.216516,1.659041,-0.014256,302.0,1991.0,0.0,1.0,16.0,NaN,4.0
13576,0.064876,-0.568761,-0.984872,0.088284,0.673367,0.403998,-0.056488,-0.016915,0.969891,-0.631709,-1.118028,-0.245389,305.0,12234.0,0.0,3.0,251.0,NaN,6.0
13577,0.064876,-0.568761,-0.984872,0.088284,0.673367,2.485689,-0.030677,-0.034763,1.038649,-0.549318,-1.037767,-0.245389,305.0,12745.0,0.0,1.0,194.0,NaN,6.0
13578,1.111216,-0.568761,-0.984872,1.123604,-0.772376,3.526534,0.077079,0.044278,-1.608530,-0.629311,-0.983779,-0.245389,305.0,13311.0,0.0,0.0,222.0,NaN,6.0
13579,1.111216,-0.653961,-1.017958,1.123604,-0.772376,-0.636847,-0.049221,-0.070458,-1.608530,-0.033780,-1.065579,-0.208161,313.0,10776.0,0.0,3.0,239.0,NaN,6.0

In [22]:
prepared=prepared.drop(['Regionname'],axis=1)

In [23]:
prepared

,Suburb,Address,Rooms,Type,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Propertycount
0,-0.981463,-1.301485,-0.422415,-0.947035,-0.772376,-0.636847,-0.089316,-0.034763,0.110418,0.121160,0.030640,-0.784625,0.0,12794.0,0.0,1.0,23.0,2.0
1,-0.981463,-1.301485,-0.422415,-0.947035,-0.772376,-1.677692,-0.100843,-0.154598,-2.296108,0.016437,-0.017478,-0.784625,0.0,5943.0,0.0,1.0,23.0,2.0
2,0.064876,-1.301485,-0.422415,0.088284,0.673367,-1.677692,-0.106356,0.026430,-2.296108,-0.001227,-0.007855,-0.784625,0.0,9814.0,0.0,3.0,23.0,2.0
3,0.064876,-1.301485,-0.422415,0.088284,0.673367,-0.636847,-0.116380,-0.034763,0.110418,0.155226,0.016204,-0.784625,0.0,9004.0,0.0,0.0,23.0,2.0
4,1.111216,-1.301485,-0.422415,0.088284,-0.772376,0.403998,-0.109864,0.006033,1.623091,0.025269,-0.010742,-0.784625,0.0,10589.0,0.0,4.0,155.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,1.111216,1.118210,0.492956,1.123604,0.673367,0.403998,0.023452,-0.034763,0.488586,-1.216516,1.659041,-0.014256,302.0,1991.0,0.0,1.0,16.0,4.0
13576,0.064876,-0.568761,-0.984872,0.088284,0.673367,0.403998,-0.056488,-0.016915,0.969891,-0.631709,-1.118028,-0.245389,305.0,12234.0,0.0,3.0,251.0,6.0
13577,0.064876,-0.568761,-0.984872,0.088284,0.673367,2.485689,-0.030677,-0.034763,1.038649,-0.549318,-1.037767,-0.245389,305.0,12745.0,0.0,1.0,194.0,6.0
13578,1.111216,-0.568761,-0.984872,1.123604,-0.772376,3.526534,0.077079,0.044278,-1.608530,-0.629311,-0.983779,-0.245389,305.0,13311.0,0.0,0.0,222.0,6.0
13579,1.111216,-0.653961,-1.017958,1.123604,-0.772376,-0.636847,-0.049221,-0.070458,-1.608530,-0.033780,-1.065579,-0.208161,313.0,10776.0,0.0,3.0,239.0,6.0

In [24]:
from sklearn.model_selection import train_test_split

xtrain, xvalid, ytrain, yvalid=train_test_split(prepared,y,test_size=0.2)

In [25]:
xtrain

,Suburb,Address,Rooms,Type,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Propertycount
833,1.111216,0.641087,0.658384,1.123604,0.673367,0.403998,-0.063505,0.171763,1.554333,-1.454728,0.533951,0.802706,30.0,4055.0,1.0,1.0,260.0,5.0
10104,-0.981463,-0.653961,0.415756,-0.947035,-0.772376,-0.636847,0.086351,-0.034763,0.110418,-0.636251,0.245918,-0.598028,11.0,10165.0,2.0,1.0,106.0,5.0
12743,1.111216,0.624047,0.912041,1.123604,0.673367,0.403998,0.015433,-0.034763,0.901133,-1.584433,0.157286,-0.456881,144.0,9126.0,0.0,4.0,32.0,5.0
10886,0.064876,0.146924,-0.962815,0.088284,-0.772376,0.403998,-0.087060,-0.034763,0.110418,-0.700598,-1.733646,-0.491825,7.0,492.0,2.0,1.0,15.0,6.0
10538,0.064876,0.879648,-0.345215,0.088284,-0.772376,1.444843,0.023953,-0.034763,0.110418,1.674084,0.271036,0.114329,281.0,3736.0,0.0,3.0,257.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12604,0.064876,4.304709,1.022327,0.088284,-0.772376,-0.636847,0.008165,-0.024564,-0.130235,-3.651887,1.309513,0.142193,251.0,10901.0,0.0,1.0,260.0,4.0
10584,-0.981463,0.555886,0.272384,-0.947035,-0.772376,-0.636847,-0.139936,-0.215791,-0.233372,-0.255464,1.556646,-0.397727,33.0,7187.0,2.0,1.0,16.0,0.0
6699,0.064876,-0.534680,-1.017958,0.088284,-0.772376,-0.636847,-0.027670,-0.090856,-0.920951,-0.099641,-1.154020,-0.208161,313.0,6732.0,0.0,3.0,239.0,6.0
13026,0.064876,2.685899,7.154209,0.088284,0.673367,0.403998,-0.094829,-0.034763,0.110418,2.661380,0.810051,-0.375116,194.0,3188.0,0.0,3.0,90.0,2.0
849,1.111216,0.641087,0.658384,1.123604,-0.772376,0.403998,0.024955,-0.070458,0.110418,-1.578377,0.630187,0.802706,30.0,7793.0,0.0,1.0,196.0,5.0

In [26]:
ytrain

833      1185000.0
10104     590000.0
12743    2550000.0
10886     660000.0
10538     630000.0
           ...
12604     770000.0
10584     485000.0
6699     1081000.0
13026     430000.0
849      1010000.0
Name: Price, Length: 10864, dtype: float64

In [27]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

rand=RandomForestRegressor()
rand.fit(xtrain,ytrain)

ypredict=rand.predict(xvalid)
for_mse= mean_squared_error(yvalid,ypredict)
rmse=np.sqrt(for_mse)
rmse

318184.84887193906

In [28]:
ytrainpred=rand.predict(xtrain)
msefor_overfitting=mean_squared_error(ytrainpred,ytrain)
rsme_over=np.sqrt(msefor_overfitting)
rsme_over

103998.91946317031

In [29]:
from sklearn.tree import DecisionTreeRegressor

tree=DecisionTreeRegressor()
tree.fit(xtrain,ytrain)
ytpredict=tree.predict(xvalid)
mse_tree=mean_squared_error(ytpredict,yvalid)
rsme_tree=np.sqrt(mse_tree)
mse_tree

171665225404.6981

In [30]:
scores=cross_val_score(tree,xtrain,ytrain,cv=10,scoring='neg_mean_squared_error')

def scoring(scores):
    print("scores:",scores)
    print("score_meaan:",scores.mean())
    print("scores_std:", scores.std())

scoring(-scores)

scores: [1.33696916e+11 1.57403723e+11 1.56821813e+11 1.62986202e+11
 1.37864196e+11 1.45131125e+11 1.57026725e+11 1.62444353e+11
 1.52915342e+11 1.51096302e+11]
score_meaan: 151738669522.81296
scores_std: 9436504218.928497